<%- include('./components/header.ejs', { title: "Register" }) %>
        
<main>
    <h2>Register</h2>
    <% include ./components/form-register.ejs %>
</main>
        
<% include ./components/footer.ejs %>